{% extends '../base/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Add Email</h1>
    </div>
</section>

<section class="pl-2 pr-2">
    <div class="box">
        <table class="table is-borderless">
            <tbody>
                {% for emailaddress in user.emailaddress_set.all %}
                <form method="post" action="{% url 'account_email' %}">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <div class="field-label is-normal">
                                <label class="label">Email</label>
                            </div>
                        </td>
                        <td style="width: 500px;">
                            <div class="field">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}block mb-2 text-sm text-gray-600 dark:text-gray-200">
                                            {% if emailaddress.primary %}
                                                <input id="email_radio_{{forloop.counter}}" class="input" type="text" name="email" value="{{ emailaddress.email }}" id="{{ form.email.id_for_label }}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} disabled/>     
                                            {% else %}
                                                 <input id="email_radio_{{forloop.counter}}" class="input" type="text" name="email" value="{{ emailaddress.email }}" id="{{ form.email.id_for_label }}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} />     
                                            {% endif %}
                                                <div class="is-size-7 has-text-left">
                                                {% if emailaddress.verified %}
                                                    {% trans "Verified" %} {% if emailaddress.primary %}{% trans "Primary" %}{% endif %}
                                                {% else %}
                                                    {% trans "Unverified" %}
                                                {% endif %}
                                                </div>
                                            </label>
                                            <div class="is-size-7 has-text-left">
                                                {{ form.email.errors|escape }}
                                            </div>
                                        </div>
                                        <input type="hidden" id="id_account_{{ base_account.id }}" name="account" value="{{ base_account.id }}" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">

                                {% if emailaddress.primary == False %}
                                    <button name="action_primary" type="submit" class="button mb-4">Make Primary</button>
                                {% endif %}

                                {% if emailaddress.verified == False %}
                                    <button name="action_send" type="submit" class="button mb-4">Re-send Verification </button>
                                {% endif %}

                                {% if emailaddress.primary == False %}
                                    <button name="action_remove" type="submit" class="button mb-4">Remove</button>
                                {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
                {% endfor %}
                <form method="post" action="{% url 'account_email' %}">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <div class="field-label is-normal">
                                <label class="label">Add Email</label>
                            </div>
                        </td>
                        <td>
                            <input class="input" type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="example@gmail.com">
                            <div class="is-size-7 has-text-left">
                                {{ form.email.errors|escape }}
                            </div>
                        </td>
                        <td>
                            <button name="action_add" type="submit" class="button mb-4">Add</button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
