{% extends "msgconv/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="section">
        <div class="container m-6 pb-6 has-text-centered">
            <div class="field">
                <label class="label is-medium">Sign in with</label>
                <a href="{% provider_login_url 'google' %}">
                    <button class="button is-large">
                        <span class="icon is-medium">
                        <i class="fab fa-google"></i>
                        </span>
                        <span>Google</span>
                    </button>
                </a>
                
                </div>

                <div class="field">
                    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <button class="button is-large">
                            <span class="icon is-medium">
                            <i class="fab fa-google"></i>
                            </span>
                            <span>Google</span>
                        </button>
                    </a>
                </div>

                <div class="field">
                <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    <button class="button is-large">
                        <span class="icon is-medium">
                        <i class="fab fa-google"></i>
                        </span>
                        <span>Google</span>
                    </button>
                </a>
                </div>
                </div>
            </div>
    </section>



        <section class="bg-white dark:bg-gray-900">
            <div class="container px-6 py-24 mx-auto lg:py-32">
                <div class="lg:flex">
                    <div class="lg:w-1/2">
                        <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="50" height="50"><defs><style>.cls-1{fill:#d8e1ef;}.cls-2{fill:#0593ff;}</style></defs><title/><g id="In"><rect class="cls-1" height="26" rx="4" ry="4" width="20" x="10" y="3"/><path class="cls-2" d="M22.71,15.29l-4-4a1,1,0,0,0-1.42,1.42L19.59,15H3a1,1,0,0,0,0,2H19.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4A1,1,0,0,0,22.71,15.29Z"/></g></svg>

                        <h1 class="mt-4 text-gray-600 dark:text-gray-300 md:text-lg">Welcome back</h1>
                        
                        <h1 class="mt-4 text-2xl font-medium text-gray-800 capitalize lg:text-3xl dark:text-white">
                            {% trans "login to your account " %}
                        </h1>
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <p class="text-white rounded-xl mt-2">{% blocktrans with site.name as site_name %}Please sign in with one
                            of your existing third party accounts.<br>Or, <a href="{{ signup_url }}">sign up</a>
                            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                            <div>

                                <div>
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                </div>
                        
                                <div class="login-or border-t border-b mt-3">{% trans 'OR' %}</div>
                        
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
</section>

{% endblock %}