{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html data-theme="light">
<head>
    <title>msgconv</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

<body>
    <section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
        <div class="column is-8 is-5-desktop">
            <div class="box p-6 has-background-light has-text-centered">
            <span class="has-text-grey-dark">Sign In</span>
            <h3 class="mb-5 is-size-4 has-text-weight-bold">Join our community</h3>
            <form action="#">
                <div class="field">
                <div class="control">
                    <input class="input" type="email" placeholder="E-mail address">
                </div>
                </div>
                <div class="field">
                <div class="control">
                    <input class="input" type="password1" placeholder="Password">
                </div>
                </div>
                <button type="submit" class="button is-primary mb-4 is-fullwidth">Sign In</button>
                <a class="button is-primary mb-4 is-fullwidth" href="{% url 'index' %}">Back</button>
                <a class="mb-4 is-inline-block" href="#"><small>Forgot password?</small></a>
                <a class="button is-white mb-2 is-flex is-justify-content-center is-align-items-center is-fullwidth" href="{% provider_login_url 'google' %}">
                <div class="mr-2">
                <i class="fab fa-google"></i>
                </div>
                <span class="has-text-grey-dark">Sign in with Google</span>
                </a>
                <a class="button is-white mb-2 is-flex is-justify-content-center is-align-items-center is-fullwidth" href="#">
                <div class="mr-2">
                    <i class="fab fa-facebook"></i>
                </div>
                <span class="has-text-grey-dark">Sign in with Facebook</span>
                </a>
            </form>
            </div>
        </div>
        </div>
    </div>
    </section>
</body>
