{% extends "../base/base.html" %}
{% load i18n %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<div class="notification ml-2 mr-2 is-success">
    <h2 class="title">Password Reset Request Submitted</h2>
    <p>If an account exists with the email address you provided, you will receive an email shortly with instructions on how to reset your password.</p>
    <p>Please check your inbox and follow the instructions to reset your password.</p>
    <a href="{% url 'index' %}" class="button mt-4">Back</a>
</div>

{% endblock %}

{% block footer %}
        {% include 'base/snippets/footer.html' %}
{% endblock %}