{% extends "../base/base.html" %}
{% load i18n %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Change Password</h1>
    </div>
</section>

<section class="pl-2 pr-2">
    <div class="box">
        <table class="table">
            <tbody>
                <form method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <div class="field-label is-normal">
                                <label class="label">Email</label>
                            </div>
                        </td>
                        <td style="width: 500px;">
                            
                                <div class="field">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" autocomplete="email" value="{{ user.email }}" placeholder="example@gmail.com" required>
                                                <div class="is-size-7 has-text-left">
                                                    {{ form.email.errors|escape }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button">
                                        {% trans "Send" %}
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
            <tbody>
        </table>
    </div>
</section>

{% endblock %}

