{% extends "../base/base.html" %}
{% load i18n %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Change Password</h1>
    </div>
</section>

<div class="box ml-6 mr-6">
    <div class="content pb-4">
      <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>
    </div>
    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <input class="input" type="{{ form.password1.field.widget.input_type }}" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Password">
                <div class="is-size-7 has-text-left">
                    {{ form.password1.errors|escape }}
                </div>
                
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Password confirmation"> 
                <div class="is-size-7 has-text-left">
                    {{ form.password2.errors|escape }}
                </div>
            </div>
        </div>

        <button type="submit" class="button is-primary mb-4">Set Password</button>
    </form>
</div>


{% endblock %}