{% extends '../base/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<div class="pl-5">
    <h3 class="title">Set Password</h3>
</div>
<div class="box ml-6 mr-6">
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <input class="input" type="{{ form.oldpassword.field.widget.input_type }}" name="{{ form.oldpassword.name }}" id="{{ form.oldpassword.id_for_label }}" placeholder="Old Password" required>
                <div class="is-size-7 has-text-left">
                    {{ form.password1.errors|escape }}
                </div>
                
            </div>
        </div>

        {% include '../base/snippets/password_policy.html' %}
       
        <div class="field">
            <div class="control">
                <input class="input" type="{{ form.password1.field.widget.input_type }}" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Password" required>
                <div class="is-size-7 has-text-left">
                    {{ form.password1.errors|escape }}
                </div>
                
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Password confirmation" required> 
                <div class="is-size-7 has-text-left">
                    {{ form.password2.errors|escape }}
                </div>
            </div>
        </div>
        <button type="submit" class="button is-primary mb-4">Set new password</button>
    </form>
</div>

{% endblock %}

{% block footer %}
        {% include 'base/snippets/footer.html' %}
{% endblock %}