{% extends '../base/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
        <div class="pl-5">
        <h1 class="title">User Profile</h1>
    </div>
</section>

{% comment %} <section>
    <div class="container is-fluid">
        <nav class="py-2 breadcrumb has-arrow-separator is-small" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="is-active"><a href="{% url 'user-profile' %}" aria-current="page">Profile</a></li>
            </ul>
        </nav>
    </div>
</section> {% endcomment %}

<section class="pl-2 pr-2">
    <div class="box">
        <div class="columns is-multiline">
            <div class="column is-6-tablet">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" value="{{ user.email }}" disabled>
                                <div class="is-size-7 has-text-left">
                                    {{ form.email.errors|escape }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6-tablet">
                <a href="{% url 'account_email' %}" class="button">Change Email</a>
            </div>
            <div class="column is-6-tablet">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <a href="{% url 'account_reset_password' %}" class="button">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6-tablet">
                <!-- nothing to see here-->
            </div>
        </div>
    </div>
</section>

{% if has_social_account %}
    <section class="pt-4">
            <div class="pl-5">
            <h1 class="title">Social Account</h1>
        </div>
    </section>

    <section class="pl-2 pr-2 pt-2"> 
        <div class="box">
            <div class="columns is-multiline">
                <div class="column is-6-tablet">
                    
                </div>
                <div class="column is-6-tablet">
                    {% comment %} <a href="{% url 'account_email' %}" class="button">Add Email</a> {% endcomment %}
                </div>
                <div class="column is-6-tablet">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Manage</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <a href="{% url 'socialaccount_connections' %}" class="button">Connected Accounts</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="column is-6-tablet">
                    <!-- nothing to see here-->
                </div>
            </div>
        </div>
    </section>
{% endif %}

<section class="pt-4">
        <div class="pl-5">
        <h1 class="title">Subscription</h1>
    </div>
</section>

<section class="pl-2 pr-2 pt-2">
    <div class="box">
        <div class="columns is-multiline">
            <div class="column is-6-tablet">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Abo No.</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" value="681789798798" disabled>
                                <div class="is-size-7 has-text-left">
                                    {{ form.email.errors|escape }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6-tablet">
                {% comment %} <a href="{% url 'account_email' %}" class="button">Add Email</a> {% endcomment %}
            </div>
            <div class="column is-6-tablet">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <a href="#" class="button is-danger">Cancel Subscription</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="column is-6-tablet">
                <!-- nothing to see here-->
            </div>
        </div>
    </div>
</section>

<!-- User Sessions

<section class="pt-4">
        <div class="pl-5">
        <h1 class="title">User Sessions</h1>
    </div>
</section>

<section class="pl-2 pr-2 pt-2">
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Team</th>
                <th><abbr title="Played">Pld</abbr></th>
                <th><abbr title="Won">W</abbr></th>
                <th><abbr title="Drawn">D</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Team</th>
                <th><abbr title="Played">Pld</abbr></th>
                <th><abbr title="Won">W</abbr></th>
                <th><abbr title="Drawn">D</abbr></th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                <th>1</th>
                <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                </td>
                <td>38</td>
                <td>23</td>
                <td>12</td>
                </tr>
                <tr>
                <th>2</th>
                <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                <td>38</td>
                </tr>
                <tr>
                <th>3</th>
                <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                <td>38</td>
                </tr>
                <tr class="is-selected">
                <th>4</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
                <td>38</td>
                </tr>
                <tr>
                <th>5</th>
                <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
                <td>38</td>
                <td>19</td>
                </tr>
                <tr>
                <th>6</th>
                <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
                <td>38</td>
                </tr>
                <tr>
                <th>7</th>
                <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
                <td>38</td>
                </tr>
                <tr>
                <th>8</th>
                <td><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a></td>
                <td>38</td>
                </tr>

            </tbody>
            </table>
        
    </div>
</section>

-->

{% endblock %}
