{% extends '../base/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-8 is-5-desktop">
                <div class="box p-6 has-background-light has-text-centered">
                    <span class="has-text-grey-dark">Sign In</span>
                    <h3 class="mb-5 is-size-4 has-text-weight-bold">Join our community</h3>
                    
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="example@gmail.com">
                                <div class="is-size-7 has-text-left">
                                    {{ form.email.errors|escape }}
                                </div>
                            </div>
                        </div>
                        
                        {% include '../base/snippets/password_policy.html' %}

                        <div class="field">
                            <div class="control">
                                <input class="input" type="{{ form.password1.field.widget.input_type }}" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Password">
                                <div class="is-size-7 has-text-left">
                                    {{ form.password1.errors|escape }}
                                </div>
                                
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Password confirmation"> 
                                <div class="is-size-7 has-text-left">
                                    {{ form.password2.errors|escape }}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="button is-primary mb-4 is-fullwidth">Get Started</button>
                        <a class="button is-primary mb-4 is-fullwidth" href="{% url 'index' %}">Back</button>
                        <a class="mb-4 is-inline-block" href="#"><small>Forgot password?</small></a>

                        <a class="button is-white mb-2 is-flex is-justify-content-center is-align-items-center is-fullwidth" href="{% provider_login_url 'google' %}">
                            <div class="mr-2">
                                <i class="fab fa-google"></i>
                            </div>
                            <span class="has-text-grey-dark">Sign in with Google</span>
                        </a>

                        <a class="button is-white mb-2 is-flex is-justify-content-center is-align-items-center is-fullwidth" href="#">
                            <div class="mr-2">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <span class="has-text-grey-dark">Sign in with Facebook</span>
                        </a>
                    </form>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section> 

{% endblock %}
