{% load socialaccount %}
{% load static %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
  <div class="my-2">
    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="button">
    <div class="mr-2">
          <i class="fab fa-{{ provider.name | lower }}"></i>
      </div>
      <span class="has-text-grey-dark">Add a party Account {{provider.name}}</span>
      </a>
  </div>
{% endfor %}