<section class="section">
  <div class="container removed">
    <div class="mb-5 columns is-multiline is-centered">
      <div class="column is-8 has-text-centered">
        <span class="has-text-grey-dark">Lorem ipsum</span>
        <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
    </div>
    <div class="mb-5 p-6 columns is-multiline has-background-light">
      <div class="column is-6-desktop pt-5">
        <div class="mb-6">
          <h2 class="mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Premium Membership</h2>
          <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
        </div>
        <div>
          <ul class="mb-5 pl-0 columns is-multiline">
            <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
              <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Complete documentation</p>
            </li>
            <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
              <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Working materials in Figma</p>
            </li>
            <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
              <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">100GB cloud storage</p>
            </li>
            <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
              <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">500 team members</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-4-desktop ml-auto">
        <div class="box has-background-white has-text-centered">
          <h4 class="has-text-weight-bold">Sale -25%</h4>
          <p class="has-text-grey-dark mb-5">Free access for 25 members</p>
          <div class="mx-auto mb-4 px-5">
            <span class="is-size-1 is-size-3-mobile has-text-weight-bold">$49,99</span>
            <a class="button is-primary mt-5 is-fullwidth" href="#">Action</a>
          </div>
          <p class="has-text-grey-dark">Lifetime license</p>
        </div>
      </div>
    </div>
  </div>
</section>