<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box content removed has-text-left">
          <h2 class="mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Starter Membership</h2>
          <p class="subtitle has-text-grey">What do I get?</p>
          <ul class="mb-5">
            <li class="mb-3 is-flex">
              <span class="icon has-text-grey mr-2">
                <i class="fas fa-check-circle"></i>
              </span>
              <p class="mb-0"><span class="has-text-weight-bold">Convert Single MSG Files up to 50MB</span><br>
                Your upload are no longer limited to 3MB. Convert msg files which are up to 50 MB big.</p>
            </li>
            <li class="mb-3 is-flex">
              <span class="icon has-text-grey mr-2">
                <i class="fas fa-check-circle"></i>
              </span>
              <p class="mb-0"><span class="has-text-weight-bold">Convert to file formats txt, json and eml</span><br>
                The package includes conversions from msg to txt, json and eml. To convert to office file formats, Pro-Subscription is required.</p>
            </li>
            <li class="mb-3 is-flex">
              <span class="icon has-text-grey mr-2">
                <i class="fas fa-check-circle"></i>
              </span>
              <p class="mb-0"><span class="has-text-weight-bold">Analyse your msg files & make additional attributes visible</span><br>
                Attributes inlcude Filesize, Subject, Attachments found, Download attachments, Mail was sent, Mail was read, Date sent, Received by server, Recipients, From, To, CC, BCC, In reply to, Response Requested, Hash (md5)</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box has-background-white has-text-centered">
          <h4 class="has-text-weight-bold">Sale -25%</h4>
          <p class="has-text-grey-dark mb-5">Free access for 25 members</p>
          <div class="mx-auto mb-4 px-5">
            <span class="is-size-1 is-size-3-mobile has-text-weight-bold">$49.99</span>
            <a class="button is-primary mt-5 is-fullwidth" href="#">Action</a>
          </div>
          <p class="has-text-grey-dark">Lifetime license</p>
        </div>
      </div>
    </div>
  </div>
</section>
