{% load static %}
   
  <div class="container pb-5 has-text-centered">
    <a class="mx-auto mb-4 is-inline-block" href="#">
      <img class="image" src="{% static 'images/msg_converter_small.png' %}">
    </a>
    <ul class="mb-4 is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
      <li><a class="button is-white" href="{% url 'about' %}">About</a></li>
      <li><a class="button is-white" href="{% url 'privacy' %}">Privacy</a></li>
      <li><a class="button is-white" href="#">Services</a></li>
      <li><a class="button is-white" href="#">Testimonials</a></li>
    </ul>
  </div>
  <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
  <div class="container">
    <p class="has-text-centered">All rights reserved © Wireframes Corporation 2021</p>
  </div>
