
{% load static %}

<nav class="navbar py-4">
    <div class="container is-fluid">
        <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <img class="image" src="{% static 'images/msg_converter_medium.png' %}">
        </a>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'msgconv_single_files' %}">Converter</a>
                {% if debug %}
                    <a class="navbar-item" href="{% url 'subscription' %}">Pricing</a>
                    <a class="navbar-item" href="{% url 'converter' %}">Features</a>
                    <a class="navbar-item" href="{% url 'contact' %}">Contact</a>
                    <a class="navbar-item" href="{% url 'faq' %}">FAQ</a>
                {% else %}
                    <a class="navbar-item" href="#">Pricing</a>
                    <a class="navbar-item" href="{% url 'converter' %}">Features</a>
                    <a class="navbar-item" href="#">Contact</a>
                    <a class="navbar-item" href="#">FAQ</a>
                {% endif %}
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    {% if debug %}
                        {% if user.is_authenticated %}
                            <a class="button" href="{% url 'account_logout' %}">Logout {{ user.email }}</a>
                            <a class="button is-primary" href="{% url 'user-profile' %}">Profile</a>
                        {% else %}
                            <a class="button" href="{% url 'account_login' %}">Sign In</a>
                            <a class="button is-primary" href="{% url 'account_signup' %}">Sign Up</a>
                        {% endif %}
                    {% else %}
                        <a class="button" href="#">Coming Soon!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
