    .is-disabled {
        pointer-events: none;
        color: #7a7a7a;
        /* Gray color to indicate disabled */
        cursor: not-allowed;
    }

    .tabs ul li.is-active a {
        color: #00d1b2;
        /* Active tab color */
        border-bottom-color: #00d1b2;
        /* Active tab underline color */
    }

    .tabs ul li.is-active a:hover {
        color: #00d1b2;
        /* Optional: Same color on hover */
        border-bottom-color: #00d1b2;
        /* Optional: Same underline color on hover */
    }