{% load static %}

<!DOCTYPE html>
<html data-theme="light">
<head>
    <title>msgconv</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
        <nav class="navbar py-4">
            <div class="container is-fluid">
                <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
                </a>
                <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>
                <div class="navbar-menu">
                <div class="navbar-start"><a class="navbar-item" href="{% url 'converter' %}">Converter</a><a class="navbar-item" href="#">Company</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Testimonials</a></div>
                <div class="navbar-item">
                <div class="buttons"><a class="button" href="{% url 'login' %}">Sign In</a><a href="{{ signup_url }}" class="button is-primary" type="submit">Sign Up</a></div>
                </div>
                </div>
            </div>
        </nav>
    {% block content %}{% endblock %}
</body>
</html>

