{% extends '../base/base.html' %}
{% load static %}

{% block content %}


  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-8 mb-6 has-text-centered">
        <span class="has-text-grey-dark">Lorem Ipsum</span>
        <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-4">
        <div class="box p-6 has-background-light">
          <div class="has-text-centered">
            <img class="mx-auto mb-5 image" src="bulma-plain-assets/images/green-400-avatar.png" alt="" style="width: 80px;height: 80px">
            <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
            <p class="has-text-grey">CEO & Founder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   {% endblock %}