{% extends '../base/base.html' %}
{% load static %}
{% block title %}MSG Converter{% endblock %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<style>
  .static-height-box {
      height: 300px; /* Adjust this value to your needs */
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
</style>

<div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-8 mb-6 has-text-centered">
        <span class="has-text-grey-dark">Welcome to Our Email Conversion and Analysis Tool</span>
        <p class="subtitle has-text-grey">hether you're archiving important emails, sharing data across different platforms, or simply exploring the contents of your emails, our tool provides a seamless and intuitive experience.</p>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-6 is-4-desktop mb-2">
         <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-envelope fa-2xl"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">MSG -> EML</h4>
              <p class="has-text-grey">Convert MSG files, which are commonly used by Microsoft Outlook to store individual email messages, into EML files.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop mb-2">
      <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-paperclip fa-2xl mt-2"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">MSG Extract Attachments</h4>
              <p class="has-text-grey">Extract Attachments from MSG files, which are commonly used by Microsoft Outlook to store individual email message.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop mb-2">
        <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-circle-info fa-2xl"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">Obtain hidden infos</h4>
              <p class="has-text-grey">Make Details visible which may not shown by your email client. (e.g. server recieved time)</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop mb-2">
        <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-envelope fa-2xl"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">Analyse security features</h4>
              <p class="has-text-grey">Providing the hash of your email file.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop mb-2">
        <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-envelope fa-2xl"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">Analyse security features</h4>
              <p class="has-text-grey">Providing the hash of your email file.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6 is-4-desktop mb-2">
        <a href="{% url 'msgconv_excel_files' %}">
          <div class="box p-6 has-background-light static-height-box">
            <div class="has-text-centered">
              <i class="fa-solid fa-envelope fa-2xl"></i>
              <h4 class="mb-2 is-size-5 has-text-weight-bold mt-2">Analyse security features</h4>
              <p class="has-text-grey">Providing the hash of your email file.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>
{% endblock %}
