{% extends '../base/base.html' %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Delete all your files from the server</h1>
    </div>
</section>

<section>
    <div class="box ml-6 mr-6">
        <h1>Delete Files</h1>
        <div class="field">
            <label class="label">Do you really want to purge all your files from the server?</label>
        </div>
        <div>
            <table>
            {% for file in file_infos %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size }}</td>
                </tr>
            {% endfor %}
            </table>
            <form method="post" class="mt-4" action="{% url 'delete_files' %}">
                <button type="submit" class="button">No, not yet.</button>
                <button type="submit" class="button is-danger">Yes, delete all my files!<button>
            </form>
        </div>
    </div>
</section>    

{% endblock %}

