{% extends '../base/base.html' %}
{% block title %}MSG Converter - Purge{% endblock %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Delete all your files from the server</h1>
    </div>
</section>

<section>
    <div class="box ml-6 mr-6">
        <div class="field">
            <label class="label">Do you really want to purge all your files from the server?</label>
        </div>
        <div>
            <table class="table is-borderless">
                <tbody>
                    {% for file in file_infos %}
                        <tr>
                            <td>{{ file.name }}</td>
                            <td>{{ file.size }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
            <div class="buttons is-inline-flex">
                <button onClick="javascript:history.go(-1);" class="button">No, not yet.</button>
                <form method="post" class="" action="{% url 'delete_files' id %}">
                    {% csrf_token %}
                    <button type="submit" class="button is-danger">Yes, delete all my files!<button>
                </form>
            </div>
        </div>
    </div>
</section>    

{% endblock %}

