{% extends '../base/base.html' %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="pb-2">
    <div class="pl-5">
        <h1 class="title">Convert MSG to EML</h1>
    </div>
</section>

<section>
    <div class="box ml-6 mr-6">
        <h1>Upload a File</h1>
        <form id="upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="label">Convert single .msg file to .eml</label>
                <p>Convert MSG files, which are commonly used by Microsoft Outlook to store individual email messages, into EML files, a more universal format that is widely supported by various email clients for storing email data in a text-based format.</p>
            </div>
            <div class="file has-name is-fullwidth">
                <label class="file-label">
                    <input class="file-input" type="file" name="file" id="file-input"/>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"> Choose a file… </span>
                    </span>
                    <span class="file-name" id="file-name">
                        {% if file_name %}
                            {{ file_name }}
                        {% else %}
                            No file selected
                        {% endif %}
                    </span>
                </label>
            </div>
            <button type="submit" class="button is-primary">Convert</button>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const fileInput = document.querySelector('#file-input');
                const fileName = document.querySelector('#file-name');
                const form = document.querySelector('#upload-form');

                fileInput.addEventListener('change', () => {
                    if (fileInput.files.length > 0) {
                        fileName.textContent = fileInput.files[0].name;
                        //form.submit();  // Automatically submit the form when a file is selected
                    }
                });
            });
        </script>
        </div>
    </div>
</section>

{% if result.eml_download_url %}
<section class="pb-2 pt-2">
    <div class="pl-5">
        <h3 class="title">Result</h3>
    </div>
</section>

<section>
    <div class="box ml-6 mr-6">
        <table class="table is-borderless">
            <tbody>
                <tr>
                    <td>Filesize</td>
                    <td>{{ result.file_size }}</td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>{{ result.result_file_info.subject }}</td>
                </tr>
                <tr>
                    <td>Attachments found</td>
                    <td>{{ result.attachments_count }}</td>
                </tr>
                <tr>
                    <td>Download attachments</td>
                    <td>
                    {% if result.attachments_download_paths %}
                        {% for attachment in result.attachments_download_paths %}
                            <a href="{{ attachment.download_path }}" class="button">{{ attachment.filename }}</a>
                        {% endfor %}
                    {% else %}
                        No attachments available
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Mail was sent</td>
                    <td>{% if result.result_file_info.is_sent %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>Date sent</td>
                    <td>{{ result.result_file_info.message_date }}</td>
                </tr>
                <tr>
                    <td>Recieved by server</td>
                    <td>{{ result.result_file_info.received_by_server_date}}</td>
                </tr>
                <tr>
                    <td>Email Addresses</td>
                    <td>{{ result.result_file_info.email_addresses }}</td>
                </tr>
                <tr>
                    <td>Hash (md5)</td>
                    <td>{{ result.result_file_info.msg_hash }}</td>
                </tr>
                <tr>
                    <td>Download</td>
                    <td><a href="{{ eml_download_url }}" class="button">{{ result.file_name_download }}</a></td>
                </tr>
                <tr>
                    <td>Delete</td>
                    <td><a href="{% url 'delete_files' result.id %}" class="button is-danger">Purge all files</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endif %}
    

{% endblock %}

