{% extends '../base/base.html' %}
{% block title %}MSG Converter - Convert msg files{% endblock %}
{% block description %}Easily convert MSG to EML files online. Batch convert emails to Excel spreadsheets. Fast, secure, and easy-to-use MSG to EML and Excel converter tool.{% endblock %}
{% block keywords %}Convert MSG to EML, MSG to EML Converter Online, Export Emails to Excel, Batch Convert MSG to EML, Convert Outlook MSG to EML, Convert Emails to Excel, Email to Excel Converter, MSG to Excel{% endblock %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<div class="tabs is-centered">
    <ul>
        {% comment %} <li class="">
            <a href="{% url 'msgconv_excel_files' %}">
                <span class="icon is-small"><i class="fa fa-excel"></i></span>
                <span>Excel</span>
            </a>
      </li> {% endcomment %}
      <li class="is-active">
        <a href="{% url 'msgconv_single_files' %}">
            <span class="icon is-small"><i class="fa fa-file"></i></span>
            <span>Single Files</span>
        </a>
      </li>
      <li>
        {% if user.is_authenticated %}
            <a href="{% url 'msgconv_multiple_files' %}"title="You need to be logged in to access this feature">
                <span class="icon is-small"><i class="fa fa-box-archive" ></i></span>
                <span>Multiple Files</span>
            </a>
        {% else %}  
            <a href="#" class="is-disabled" title="You need to be logged in to access this feature">
                <span class="icon is-small"><i class="fa fa-box-archive" style="color:lightgray"></i></span>
                <span style="color:lightgray">Multiple Files</span>
                <span class="tag is-small is-primary ml-2">$</span>
            </a>
        {% endif %}
      </li>
    </ul>
    <!--/tabs is-centered-->
  </div>

{% if messages %}
<div class="notification is-primary ml-6 mr-6">
    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
    {% for message in messages %}
         {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="pl-5">
    <h3 class="title">Convert single *.msg files to *.eml</h3>
</div>
<div class="box ml-6 mr-6">
    <h1>Upload a File</h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label class="label">Convert single .msg file to .eml</label>
            <p>Convert MSG files, which are commonly used by Microsoft Outlook to store individual email messages, into EML files, a more universal format that is widely supported by various email clients for storing email data in a text-based format.</p>
        </div>
        <div class="file has-name is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" name="file" id="file-input" accept=".msg" required/>
                <input type="text" name="executed" id="executed" value="{{ result.executed }}" hidden/>
                 
                {{ form.captcha }}
            
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Choose a file… </span>
                </span>
                <span class="file-name" id="file-name">
                    {% if result.file_name %}
                        {{ result.file_name }}
                    {% else %}
                        No file selected
                    {% endif %}
                </span>
            </label>
        </div>
        <div class="is-size-7 has-text-left mb-2">
            {{ form.errors|escape }}
        </div>
        <button type="submit" class="button is-primary">Convert</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.querySelector('#file-input');
            const fileName = document.querySelector('#file-name');
            const form = document.querySelector('#upload-form');
            const executed = document.querySelector('#executed');

            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    fileName.textContent = fileInput.files[0].name;
                    executed.textContent = 'executed'
                    //form.submit();  // Automatically submit the form when a file is selected
                }
            });
        });
    </script>
</div>

{% if result.eml_download_url %}

    <div class="pl-5 is-flex is-justify-content-space-between is-align-items-center">
        <h3 class="title">Result</h3>
    </div>

    <div class="box ml-6 mr-6">
        <table class="table is-borderless">
            <tbody>
                <tr>
                    <td>Download</td>
                    <td><a href="{{ eml_download_url }}" class="button">{{ result.file_name_download }}</a></td>
                </tr>
                <tr>
                    <td>Delete</td>
                    <td><a href="{% url 'delete_files' result.id %}" class="button is-danger">Purge all files</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pl-6 pr-6 pb-2">
        <h3 class="title">Summary - {{ result.result_file_info.subject }}</h3>
        <div class="buttons">
            <a href="{{ result.result_file_summaries.txt }}" class="button">
                <span class="icon"><i class="fas fa-file-alt"></i></span>
                <span>Summary.txt</span>
            </a>
            <a href="{{ result.result_file_summaries.json }}" class="button pr-2">
                <span class="icon"><i class="fas fa-file-code"></i></span>
                <span>Summary.json</span>
            </a>
            <a href="{{ result.result_file_summaries.csv }}" class="button pr-2">
                <span class="icon"><i class="fas fa-file-csv"></i></span>
                <span>Summary.csv</span>
            </a>
        </div>
    </div>


    <div class="box ml-6 mr-6">
        <table class="table is-borderless">
            <tbody>
                <tr>
                    <td>Filesize</td>
                    <td>{{ result.file_size }}</td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td>{{ result.result_file_info.subject }}</td>
                </tr>
                <tr>
                    <td>Attachments found</td>
                    <td>{{ result.attachments_count }}</td>
                </tr>
                <tr>
                    <td>Download attachments</td>
                    <td>
                    {% if result.attachments_download_paths %}
                        {% for attachment in result.attachments_download_paths %}
                            <a href="{{ attachment.download_path }}" class="button">{{ attachment.filename }}</a>
                        {% endfor %}
                    {% else %}
                        No attachments available
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Mail was sent</td>
                    <td>{% if result.result_file_info.is_sent %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>Mail was read</td>
                    <td>{% if result.result_file_info.is_read %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>Date sent</td>
                    <td>{{ result.result_file_info.message_date }}</td>
                </tr>
                <tr>
                    <td>Recieved by server</td>
                    <td>{{ result.result_file_info.received_by_server_date}}</td>
                </tr>
                <tr>
                    <td>Recipients</td>
                    <td>{{ result.result_file_info.email_addresses }}</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>{{ result.result_file_info.from }}</td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>{{ result.result_file_info.to }}</td>
                </tr>
                <tr>
                    <td>CC</td>
                    <td>{{ result.result_file_info.cc }}</td>
                </tr>
                <tr>
                    <td>BCC</td>
                    <td>{{ result.result_file_info.bcc }}</td>
                </tr>
                <tr>
                    <td>In reply to</td>
                    <td>{{ result.result_file_info.in_reply_to }}</td>
                </tr>
                <tr>
                    <td>Response Requested</td>
                    <td>{{ result.result_file_info.response_requested }}</td>
                </tr>
                <tr>
                    <td>Hash (md5)</td>
                    <td>{{ result.result_file_info.msg_hash }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}

{% block footer %}
        {% include 'base/snippets/footer.html' %}
{% endblock %}