{% extends '../base/base.html' %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<div class="tabs is-centered">
    <ul>
      <li>
        <a href="{% url 'msgconv_single_files' %}">
        <span class="icon is-small"><i class="fa fa-file"></i></span>
        <span>Single Files</span>
      </a>
      </li>
      <li class="is-active">
        <a href="{% url 'msgconv_multiple_files' %}">
        <span class="icon is-small"><i class="fa fa-box-archive"></i></span>
        <span>Multiple Files</span>
      </a>
      </li>
    </ul>
    <!--/tabs is-centered-->
  </div>


<div class="pl-5">
    <h3 class="title">Convert multiple *.msg files to *.eml</h3>
</div>
<div class="box ml-6 mr-6">
    <h1>Upload a Files</h1>
    <form id="upload-form-multiple" method="post" enctype="multipart/form-data" action="multiple_files">
        {% csrf_token %}
        <div class="field">
            <label class="label">Convert multiple .msg files to .eml</label>
            <p>Convert MSG files, which are commonly used by Microsoft Outlook to store individual email messages, into EML files, a more universal format that is widely supported by various email clients for storing email data in a text-based format.</p>
        </div>
        <div class="file has-name is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" name="files[]" id="file-input-multiple" multiple/>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Choose files… </span>
                </span>
                <span class="file-name" id="file-name-multiple">
                    {% if file_names %}
                        {{ file_names|join:", " }}
                    {% else %}
                        No files selected
                    {% endif %}
                </span>
            </label>
        </div>
        <button type="submit" class="button is-primary">Convert</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.querySelector('#file-input-multiple');
            const fileName = document.querySelector('#file-name-multiple');
            const form = document.querySelector('#upload-form-multiple');

            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    // Map over the files and extract their names, then join them into a single string
                    const names = Array.from(fileInput.files).map(file => file.name).join(', ');
                    fileName.textContent = names;
                    // Optionally, automatically submit the form when files are selected
                    // form.submit();
                } else {
                    fileName.textContent = 'No files selected';
                }
            });
        });
    </script>
</div>


{% endblock %}