{% extends '../base/base.html' %}
{% load static %}
{% block title %}MSG Converter - Subscription{% endblock %}
{% block description %}Sign up for our advanced email converter service and access premium features like batch conversion, email exporting, and more. Upgrade today for a seamless experience.{% endblock %}
{% block keywords %}Sign Up for Advanced Email Converter, Premium Email Conversion Service, Upgrade to Advanced Email Tools, Email Converter Subscription, Pro Email Converter Subscription, Unlock Premium Email Conversion, Advanced Email Export Features{% endblock %}
{% block content %}
{% include '../base/snippets/navbar.html' %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 is-8-desktop mb-5 has-text-centered">
        <span class="has-text-grey-dark">MSG Converter PRO</span>
        <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">Unlock advanced features of MSG Converter</h2>
        <p class="subtitle has-text-grey mb-5">Sign up for our advanced email converter service and access premium features like batch conversion, email exporting, and more. </p>
        <div class="buttons is-centered"><a class="button is-primary" href="#">Monthly</a><a class="button" href="#">Yearly</a></div>
      </div>
    </div>
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-4-desktop mb-5">
        <div class="box has-background-light has-text-centered">
          <h4 class="has-text-grey-dark">Starter</h4>
          <span class="mb-5 is-inline-block is-size-1 is-size-3-mobile has-text-weight-bold">$34,99</span>
          <ul class="mb-5">
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Complete documentation</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Working materials in Figma</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">100GB cloud storage</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">500 team members</p>
            </li>
          </ul>
          <a class="button is-primary is-fullwidth" href="#">Action</a>
        </div>
      </div>
      <div class="column is-6 is-4-desktop mb-5">
        <div class="box has-background-primary has-text-centered">
          <h4 class="has-text-white">Pro</h4>
          <span class="has-text-white mb-5 is-inline-block is-size-1 is-size-3-mobile has-text-weight-bold">$65,99</span>
          <ul class="mb-5">
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-light mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="has-text-white mb-0">Convert multiple files in batch</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-light mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="has-text-white mb-0">Export emails to excel</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-light mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="has-text-white mb-0">100GB cloud storage</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-light mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="has-text-white mb-0">500 team members</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-light mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="has-text-white mb-0">Premium support</p>
            </li>
          </ul>
          <a class="button is-light is-fullwidth has-text-centered" href="#">Action</a>
        </div>
      </div>
      <div class="column is-12 is-4-desktop mb-5">
        <div class="box has-background-light has-text-centered">
          <h4 class="has-text-grey-dark">Premium</h4>
          <span class="mb-5 is-inline-block is-size-1 is-size-3-mobile has-text-weight-bold">$99,99</span>
          <ul class="mb-5">
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Complete documentation</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">Working materials in Figma</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">100GB cloud storage</p>
            </li>
            <li class="mb-3 is-flex is-align-items-center">
              <svg class="has-text-grey mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="mb-0">500 team members</p>
            </li>
          </ul>
          <a class="button is-primary is-fullwidth has-text-centered" href="#">Action</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}